{% extends "base.html" %}

{% block content %}

<div class="login-box">

    <h1>

        Login

    </h1>

    <form method="POST">

        <input
            type="email"
            name="email"
            placeholder="Email"
            required
        >

        <input
            type="password"
            name="senha"
            placeholder="Senha"
            required
        >

        <button type="submit">

            Entrar

        </button>

    </form>
    <a href="/login/google">
        🔵 Entrar com Google
    </a>

</div>

{% endblock %}
