{% extends "base.html" %}

{% block title %}

{{ modulo }}

{% endblock %}

{% block content %}

<h1>

    {{ modulo|capitalize }}

</h1>

<div class="estrelas">

    ★★★★★

</div>

<div class="cabecalho-modulo">

    <img
        src="/static/img/modulos/{{ imagem }}"
        class="imagem-modulo"
    >

    <h1>{{ modulo }}</h1>

    <p>{{ descricao }}</p>

</div>

<div class="lista-aulas">

{% for aula in aulas %}

    {% if aula.status == "bloqueada" %}

        <div
            class="card-aula bloqueada"
        >

            🔒 {{ aula.titulo }}

        </div>

    {% else %}

        <a
            class="card-aula"
            href="/posts/fisica/{{ aula.slug }}"
        >

            {% if aula.status == "concluida" %}
                ✓
            {% else %}
                ★
            {% endif %}

            {{ aula.titulo }}

        </a>

    {% endif %}

{% endfor %}
</div>

{% endblock %}
