{% extends "base.html" %}

{% block title %}

Módulos

{% endblock %}

{% block content %}

<h1>Módulos</h1>

<div class="grade-modulos">

{% for modulo in modulos %}

    <a class="card-modulo"
    href="/modulo/{{ modulo.slug }}">

        <img
            src="{{ url_for(
                'static',
                filename='img/modulos/' + modulo.img
            ) }}"
            alt="{{ modulo.meta }}"
        >

        <h2>

            {{ modulo.titulo }}

        </h2>

        <div class="estrelas">

            ★★★★★

        </div>
        <div
            class="barra-preenchida"

            style="
                width:{{ modulo.percentual }}%;

                background:
                {% if modulo.percentual <= 25 %}
                    #ef4444
                {% elif modulo.percentual <= 50 %}
                    #f97316
                {% elif modulo.percentual <= 75 %}
                    #3b82f6
                {% else %}
                    #22c55e
                {% endif %};
            "
        ></div>

        <p>

            {{ modulo.concluidos }}/{{modulo.total_aulas}}
            aulas

        </p>

    </a>

{% endfor %}

</div>

{% endblock %}
