{% extends "base.html" %}

{% block title %}

{{ modulo }}

{% endblock %}

{% block content %}

<div class="title">
    <h1>
        {{ modulo|capitalize }}
    </h1>
</div>

<div class="estrelas">

    ★★★★★

</div>

<div class="cabecalho-modulo">

    <img
        src="/static/img/modulos/{{ imagem }}"
        class="imagem-modulo"
    >
    <p>{{ descricao }}</p>

</div>
<div class="progresso-modulo">

    <div class="barra-progresso">

        <div
            class="barra-preenchida"
            style="
                width:{{ percentual }}%;
            "
        ></div>

    </div>

    <p>

        {{ concluidas }}/{{ total_aulas }}
        aulas concluídas

        •

        {{ percentual }}%

    </p>

</div>

<div class="lista-aulas">

{% for aula in aulas %}

    {% if aula.status == "bloqueada" %}

        <div
            class="card-aula bloqueada"
        >

            🔒 {{ aula.titulo }}

        </div>

    {% else %}

        <a
            class="card-aula"
            href="/posts/fisica/{{ aula.slug }}"
        >

            {% if aula.status == "concluida" %}
                ✓
            {% else %}
                ★
            {% endif %}

            {{ aula.titulo }}

        </a>

    {% endif %}

{% endfor %}
</div>

{% endblock %}
