{% extends "base.html" %}

{% block title %}

Módulos

{% endblock %}

{% block content %}

<h1>Módulos</h1>

<div class="grade-modulos">

{% for modulo in modulos %}

    <a class="card-modulo"
    href="/modulo/{{ modulo.slug }}">

        <img
            src="{{ url_for(
                'static',
                filename='modulos/' + modulo.slug + '.webp'
            ) }}"
            alt="{{ modulo.titulo }}"
        >

        <h2>

            {{ modulo.titulo }}

        </h2>

        <div class="estrelas">

            ★★★★★

        </div>
        <div class="barra-progresso">
            <div
                class="barra-preenchida"
                style="
                    width:{{ modulo.percentual }}%;
                "
            ></div>
        </div>

        <p>

            {{ modulo.total_aulas }}/{{modulo.total_aulas}}
            aulas

        </p>

    </a>

{% endfor %}

</div>

{% endblock %}
