{% extends "base.html" %}

{% block title %}

{{ titulo }}

{% endblock %}

{% block content %}

<article class="post">
    <h1 class="post-titulo">
        {{ titulo }}
    </h1>
    
    {% if meta.xp %}
    <div class="xp-info">
        XP: {{ meta.xp }}
    </div>
    {% endif %}

    {% if autor %}

    <p class="post-autor">

        Por: {{ autor }}

    </p>

    {% endif %}

    <div class="post-conteudo">

    {% for etapa in etapas %}

        <h2>{{ etapa.titulo }}</h2>

        <div>

            {{ etapa.conteudo|safe }}

        </div>

        <hr>

    {% endfor %}

</div>

</article>

{% endblock %}

{% block scripts %}

{% for sim in simulacoes %}

<script src="{{ url_for('static', filename='show/' + sim + '.js') }}"></script>

{% endfor %}

{% endblock %}
