{% extends "base.html" %}

{% block title %}

{{ titulo }}

{% endblock %}

{% block content %}

<article class="post">
    <h1 class="post-titulo">
        {{ titulo }}
    </h1>
    
    {% if meta.xp %}
    <div class="xp-info">
        XP: {{ meta.xp }}
    </div>
    {% endif %}

    {% if autor %}

    <p class="post-autor">

        Por: {{ autor }}

    </p>

    {% endif %}

    <div class="post-conteudo">

{% for etapa in etapas %}

<section
    class="etapa"
    id="etapa-{{ loop.index0 }}"
    data-tipo="{{ etapa['tipo'] }}"
    {% if not loop.first %}
    style="display:none"
    {% endif %}
>

    <h2>{{ etapa.titulo }}</h2>

    {{ etapa.conteudo|safe }}

    {% if loop.last %}
    <div id="resultado-aula"></div>
    {% endif %}

</section>
 
{% endfor %}
</div>

<div class="navegacao-etapas">

    <button id="btn-anterior">
        ← Anterior
    </button>

    <span id="contador-etapas">
        1 / {{ etapas|length }}
    </span>

    <button id="btn-proximo">
        Próxima →
    </button>

</div>

</article>

{% endblock %}

{% block scripts %}

{% for sim in simulacoes %}

<script src="{{ url_for('static', filename='show/' + sim + '.js') }}"></script>

{% endfor %}

<script>
const Meta =     {{ meta|tojson}};
const XP_AULA =
    {{ meta.xp|default(0) }};

const AULA_ATUAL =
    "{{ aula_slug }}";

let etapaAtual = 0

const etapas = document.querySelectorAll(".etapa")

const contador =
    document.getElementById(
        "contador-etapas"
    )
let simulacoesAtuais = [];
function mostrarEtapa(indice){

    // Remove a simulação anterior
    simulacoesAtuais.forEach(sim => sim.remove());
    simulacoesAtuais = [];

    // Esconde todas
    etapas.forEach(etapa => {
        etapa.style.display = "none";
    });

    // Mostra a etapa atual
    etapas[indice].style.display = "block";

    // Procura um canvas nesta etapa
    const canvases = etapas[indice].querySelectorAll("[id^='canvas-']");

   
    canvases.forEach(canvas => {

        const nome = canvas.id.replace("canvas-", "");

        if(typeof window[nome] === "function"){

            const instancia = new p5(window[nome]);

            simulacoesAtuais.push(instancia);

        }

    });
    const results = Meta.results ?? false    
    contador.textContent = `${indice + 1} / ${etapas.length}`;
    console.log(results)
    if(results === undefined){
        results = false
    }
    if(indice === etapas.length - 1 && results === false){
        gerarResultado();
    }

}function mostrarPopup(titulo,mensagem,modulo,mostrarConquistas=true){
    document
    .querySelector(
        ".popup-conquista"
    )
    ?.remove()
    document.body.insertAdjacentHTML(

        "beforeend",

        `

        <div class="popup-conquista">

            <div class="popup-conquista-conteudo">

                <h2>

                    ${titulo}

                </h2>

                <p>

                    ${mensagem}

                </p>

                <button
                    onclick="
                        document
                        .querySelector(
                            '.popup-conquista'
                        )
                        .remove()
                    "
                >

                    Permanecer na página

                </button>

                <button
                    onclick="
                        window.location.href=
                        '/modulo/${modulo}'
                    "
                >

                    Voltar ao módulo

                </button>

            </div>

        </div>

        `
    )

}
function gerarResultado(){

    const total =
        acertos + erros

    const aproveitamento =
        total === 0
        ? 0
        : Math.round(
            acertos * 100 / total
        )

    let imagem = ""
    let mensagem = ""
    let aprovado = true

    if(
        aproveitamento <= 40
    ){

        imagem =
        "/static/img/pascal_refazer.webp"

        mensagem =
        "Refaça esta aula."

        aprovado = false

    }else if(
        aproveitamento < 70
    ){

        imagem =
        "/static/img/pascal_aprendiz.webp"

        mensagem =
        "Você concluiu, mas revise o conteúdo."

    }else if(
        aproveitamento < 90
    ){

        imagem =
        "/static/img/pascal_cientista.webp"

        mensagem =
        "Bom desempenho."

    }else{

        imagem =
        "/static/img/pascal_mestre.webp"

        mensagem =
        "Excelente desempenho."

    }

    document
    .getElementById(
        "resultado-aula"
    )
    .innerHTML = `

    <img
        src="${imagem}"
        class="personagem-resultado"
    >

    <h2>
        ${aproveitamento}%
    </h2>

    <p>
        ${mensagem}
    </p>

    <p>
        Acertos: ${acertos}
    </p>

    <p>
        Erros: ${erros}
    </p>

    ${
        aprovado
        ?
       `<p id="xp-resultado">
            +${Math.floor(XP_AULA*aproveitamento/100)} XP
        </p>`
        :
        ``
    }

    <div class="acoes-resultado">

        <button
            onclick="
                window.location.href=
                '/modulo/' +
                AULA_ATUAL.split('_')[0]
            ">

            📚 Voltar ao módulo

        </button>

        <button
            onclick="location.reload()"
        >

            🔄 Refazer Aula

        </button>

    </div>

`

    if(aprovado){
        const MODULO = AULA_ATUAL.split("_")[0]
        fetch(
            "/concluir-aula",
            {
                method:"POST",

                headers:{
                    "Content-Type":
                    "application/json"
                },

                body:JSON.stringify({

                    aula:AULA_ATUAL,

                    nota:aproveitamento,

                    xp:Math.floor(XP_AULA*aproveitamento/100)

                })
            }
        )
        .then(
            response => response.json()
        )
        .then(
            dados => {
                console.log(dados)
                document
                .getElementById("xp-resultado")
                .textContent =`+${dados.xp} XP`
                if(dados.conquista && dados.nivel_up){
                    mostrarPopup(

                        "🏆 Conquista Desbloqueada",

                        `
                        Módulo concluído
                        <br><br>
                        ⭐ Nível ${dados.nivel}
                        alcançado
                        <br><br>
                        +${dados.xp_bonus} XP
                        `,MODULO)

                }
                else if(dados.conquista){
                    mostrarPopup(

                        "🏆 Conquista Desbloqueada",

                        `
                        Módulo concluído
                        <br><br>
                        +${dados.xp_bonus} XP
                        `, MODULO)

                }
                else if(dados.nivel_up){
                    mostrarPopup(

                        "⭐ Subiu de Nível",

                        `
                        Agora você é
                        nível ${dados.nivel}
                        `,MODULO)
                }else{
                    if(dados.revisao===true){
                        mostrarPopup(
                            "📖 Revisão concluída",
                            `
                            Você revisou uma aula.
                            <br><br>
                            +5 XP
                            `,

                            MODULO

                        )
                    }else{
                    mostrarPopup(
                        "Aula concluída",
                        `
                        O que deseja fazer agora?
                        `,
                        MODULO,
                        false)
                    }
                }
            }
        )
    }
}

document
.getElementById(
    "btn-proximo"
)
.addEventListener(
    "click",
    () => {

    const etapaAtualElemento =
    document.getElementById(
        "etapa-" + etapaAtual
    )
    if(){
            
    }
    if (etapaAtualElemento.dataset.tipo === "simulacao") {

    for (const sim of simulacoesAtuais) {

        if (
            typeof sim.simulacaoConcluida === "function" &&
            !sim.simulacaoConcluida()
        ) {
            alert("Conclua todas as simulações antes de avançar.");
            return;
        }

    }

}
        if(
            !etapaConcluida()
        ){

            alert(
                "Conclua o checkpoint para avançar."
            )

            return

        }
        if(etapaAtual === etapas.length-1){
            nb.style.display = 'none'
            else:
            nb.style.display = 'block'
            }
        if(
            etapaAtual <
            etapas.length - 1
        ){

            etapaAtual++

            mostrarEtapa(
                etapaAtual
            )

        }

    }
)
nb = document
.getElementById("btn-anterior")
.addEventListener("click", () => {
    
    if(etapaAtual > 0){

        etapaAtual--

        mostrarEtapa(
            etapaAtual
        )

    }

})

mostrarEtapa(0);

</script>

{% endblock %}


