{% extends "base.html" %}

{% block content %}

<div class="container-ranking">

    <h1>

        🏆 Ranking Geral

    </h1>

    <table>

        <tr>

            <th>#</th>

            <th>Usuário</th>

            <th>XP</th>

            <th>🔥</th>

        </tr>

        {% for jogador in ranking %}

        <tr
        {% if usuario_logado
        and jogador[0] ==
        usuario_logado[0] %}
        class="usuario-logado"
        {% endif %}
        >

            <td>

                {{ loop.index }}

            </td>

            <td>

                {{ jogador[0] }}

            </td>

            <td>

                {{ jogador[1] }}

            </td>

            <td>

                {{ jogador[2] }}

            </td>

        </tr>

        {% endfor %}

    </table>

    {% if usuario_logado %}

    <div class="minha-posicao">

        <h2>

            Sua posição

        </h2>

        <p>

            #{{ posicao_usuario }}

            —
            {{ usuario_logado[0] }}

            —
            {{ usuario_logado[1] }} XP

            —
            🔥 {{ usuario_logado[2] }}

        </p>

    </div>

    {% endif %}

</div>

{% endblock %}
